@import "tailwindcss";
@import "tailwindcss-animated";

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Inter", sans-serif;
}
