---
import FirstStepImg from '../assets/first-step.svg'
import SecondStepImg from '../assets/second-step.svg'
import ThirdStepImg from '../assets/third-step.svg'
import ElectricFenceImg from '../assets/electric-fence.png'

const stepsImgs = [FirstStepImg, SecondStepImg, ThirdStepImg]
---

<section class="min-h-screen bg-black">
  <div class="md:max-w-[70%] mx-auto flex flex-col gap-9 md:py-5">
    <div class="flex flex-col rounded-lg bg-[#050F1E] border border-[#536DFF] items-center py-10 gap-4 max-md:m-10">
      <h3 class="text-4xl font-medium text-center">¡Creemos algo juntos!</h3>
      <p class="text-lg text-center max-w-5xl">
        ¿Tienes una idea en mente? ¡Déjanos ayudarte a convertirla en realidad! Trabajemos juntos para crear productos que se adapten perfectamente a tu imaginación y necesidades.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-8 max-md:p-4">
      {stepsImgs.map((img) => <img src={img.src} alt={img.name} class="w-full" />)}
    </div>
    <div class="col-span-3 flex justify-center items-center max-md:p-4">
      <p class="absolute lg:text-[15px] max-w-52 sm:max-w-xl md:max-w-lg text-center">Nos destacamos por nuestra dedicación a la calidad y la innovación en cada uno de nuestros productos</p>
      <img src={ElectricFenceImg.src} alt="Electric fence img" class="h-64 w-full object-cover rounded-4xl" />
    </div>
  </div>
</section>
