---
import ArrowRightIcon from '../assets/arrow-right-icon.svg'
---

<section class="flex flex-col min-h-screen w-full bg-linear-to-t to-[#13315C] from-[#000000] justify-center items-center">
  <div class="md:max-w-[70%] mx-auto flex flex-col gap-15">
    <h2 class="title text-5xl md:text-[70px] text-center">
      Creamos Soluciones <strong>electrónicas</strong> y en <strong>plástico</strong>
    </h2>
    <p class="text-sm md:text-xl text-center max-w-8/12 mx-auto">
      Somos una empresa fabricante especializada en el desarrollo de soluciones electrónicas y productos plásticos utilizando tecnología de moldeo por inyección.
    </p>

    <div class="flex justify-center">
      <a
        class="rounded-full border border-white flex justify-center items-center px-1.5 py-1 w-fit cursor-pointer animate-shake animate-infinite animate-duration-1000 animate-ease-linear"
        href="#contact"
      >
        <p class="max-sm:text-sm mx-2">Agenda una reunión sin costo</p>
        <img src={ArrowRightIcon.src} alt="Arrow Right Icon" width="40" />
      </a>
    </div>
  </div>
</section>
