---
import Header from '../components/Header.astro'
import MainLegend from '../components/MainLegend.astro'
import WoWheAre from '../components/WoWheAre.astro'
import LetsCreateSomethingTogether from '../components/LetsCreateSomethingTogether.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import GsapClient from '../components/GsapClient'
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiotronic</title>
  </head>
  <body class="h-full min-h-screen text-white overflow-auto scrollbar-hide">
    <Header />
    <MainLegend />
    <WoWheAre />
    <LetsCreateSomethingTogether />
    <Contact />
    <Footer />
    <GsapClient client:load />
  </body>
</html>
